* {
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-image: url("./bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
    text-transform: uppercase;
  
    letter-spacing: 5px;
  }
  
  .counterTimer {
    display: flex;
  }
  .counterTimer > p {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
  .counterTimer > p > span {
    display: block;
    font-size: 4rem;
  }