* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* box-model*/
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #c3c7ce;
}

.card-img-top {
  padding: 30px;
  height: 325px;
  width: auto;
}

.place__holder__image {
  width: 100%;
}

.modal-body{
   background-color: antiquewhite;
}


