*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    border:none;
    outline: none;
}
.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg,#153677,#4e085f);
    padding: 0.9rem;
}
.main-box{
    width:100%;
    max-width: 33.7rem;
    /* height: 30vh; */
    margin: 6rem auto 2rem;
    background-color: white;
    border-radius: 1rem;
    padding: 2.2rem 2rem 4.5rem;
}

.main-box h2{
    font-size: 2.5rem;
    color: #002675;
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}
.main-box h2 img{
    width: 2rem;
    margin-left: 2rem;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 2.1rem;
    padding-left: 1.2rem;
    margin-bottom: 1.6rem;
}
input{
    flex: 1;
    background: transparent;
    padding: 0.9rem;
    font-weight: 1rem;
    font-size: 1.1rem;
}
button{
    padding: 1rem 3rem;
    background: #ff5945;
    color: #fff;
    border-radius: 2.2rem;
    font-size: 1rem;
    cursor: pointer;
}
ul li{
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0.7rem 0.5rem 0.7rem 3rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-position: center;
    background-size: cover;
    top: 0.8rem;
    left:0.6rem
}
ul li.checkk{
    color: #555;
    text-decoration: line-through;
}
ul li.checkk::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top:0.3rem;
    width:2.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    color: #555;
    line-height: 2.1rem;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: #efeef0;
}